<div  [formGroup]="formEntregaBeca" class="parent">
     <h1 >Entrega de Beca</h1>

    
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Apellido</mat-label>
                <input formControlName="apellido" required [(ngModel)]="estudiante.apellido" matInput placeholder="Apellido">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Benegas</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input formControlName="nombre" required [(ngModel)]="estudiante.nombre"  matInput placeholder="Nombre">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Wilson</mat-hint>
            </mat-form-field>
        </p>
        <p>
                <mat-form-field appearance="outline">
                    <mat-label>Dni</mat-label>
                    <input formControlName="dni" required [(ngModel)]="estudiante.dni" matInput placeholder="Dni">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>37555666</mat-hint>
                </mat-form-field>
            </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Registro</mat-label>
                <input formControlName="registro" required [(ngModel)]="estudiante.registro" matInput placeholder="Registro">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>18969</mat-hint>
            </mat-form-field>
        </p>
        <mat-form-field>
            <mat-select formControlName="carrera" required [(ngModel)]="estudiante.carrera" placeholder="Seleccione una Carrera">
                <mat-option *ngFor="let c of carreras" [value]="c.id">{{c.carrera}}</mat-option>
            </mat-select>
            <mat-hint>Lcc</mat-hint>
        </mat-form-field>

        <p style="margin-top: 40px;">
            <mat-form-field appearance="outline">
                <mat-label>Numero de beca</mat-label>
                <input formControlName="numero" required [(ngModel)]="estudiante.num_beca" matInput placeholder="Numero de beca">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>102</mat-hint>
            </mat-form-field>
        </p>

     

  
        <button style="margin:20px" mat-button color="primary" (click)='entregarBeca()' [disabled]="!formEntregaBeca.valid">Entregar</button>
   
</div>