<div class="parent">
    <mat-card-title style="margin-top: 10px;">Agregar un Estudiante</mat-card-title>

    <mat-card-content>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Apellido</mat-label>
                <input matInput placeholder="Apellido">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Benegas</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Wilson</mat-hint>
            </mat-form-field>
        </p>
        <p>
                <mat-form-field appearance="outline">
                    <mat-label>Dni</mat-label>
                    <input matInput placeholder="Dni">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>37555666</mat-hint>
                </mat-form-field>
            </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Registro</mat-label>
                <input matInput placeholder="Registro">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>18969</mat-hint>
            </mat-form-field>
        </p>

        <mat-form-field>
            <mat-select placeholder="Seleccione una Carrera">
                <mat-option *ngFor="let c of carreras" value="c.id">{{c.carrera}}</mat-option>
            </mat-select>
            <mat-hint>Lcc</mat-hint>
        </mat-form-field>


    </mat-card-content>
    <mat-card-actions>
        <button style="margin:20px" mat-button color="primary" (click)=''>Guardar</button>
    </mat-card-actions>
</div>